<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Flask Demo App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" 	href="{{url_for('static', filename='favicon.ico')}}">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Nishit Mohanan</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="/dashboard/">Dashboard</a></li>
					</ul>


      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login/">Login</a></li>
        <li><a href="/signUp/">Sign Up</a></li>
      </ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>

		<div class="container-fluid" style="min-height:100%; max-width:90%">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages%}
			<div class="alert alert-warning" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ message }}

			</div>
			{% endfor%}
			{% endif %}
			{% endwith%}



			{% block body %} {% endblock %}
		






</div>



 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}">
	</script>


<footer>
<div class="container-fluid" style="background-color:whitesmoke;height: 35px;">
    <div class="col-md-12">
		© 2016 Nishit Mohanan

    </div>
</div>
</footer>


</body>




</html>

		